<!-- Boton Add y Campo de búsqueda -->
<div class="filter" style="display: flex;">
    <button mat-flat-button class="margin-t" (click)="openDialog(null)">
        <mat-icon>add</mat-icon>
        Agregar
    </button>
    <span class="spacer"></span>
    <mat-form-field>
        <mat-label>
            <mat-icon>search</mat-icon>
            Buscar
        </mat-label>
        <input matInput (keyup)="checkFilter($event)" placeholder="Nombre o Rol...">
    </mat-form-field>
</div>

<!-- Tabla -->
<table mat-table [dataSource]="usuariosFiltrados" class="mat-elevation-z8 demo-table">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let usuario">{{usuario.id}}</td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let usuario">{{usuario.name}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let usuario">{{usuario.email}}</td>
    </ng-container>

    <!-- Rol Column -->
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Rol</th>
        <td mat-cell *matCellDef="let usuario">{{usuario.role | rol}}</td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let usuario">
            <button mat-button class="boton-delete" (click)="eliminar(usuario.id); $event.stopPropagation();">
                <mat-icon>delete</mat-icon>
                Eliminar
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="openDialog(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>

</table>