<div class="container">

    <mat-card class="card" appearance="raised">

        <mat-card-header style="margin-bottom: 10px;">
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <form class="form" [formGroup]="myForm">
                <mat-form-field class="full-width margin-b">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Ingrese el Usuario..." formControlName="user">
                    <mat-hint class="msg-error"
                        *ngIf="myForm.controls['user'].errors?.['required'] && myForm.controls['user'].touched">Campo
                        Obligatorio.</mat-hint>
                </mat-form-field>

                <mat-form-field class="full-width margin-b">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Ingrese la Contraseña..." formControlName="pass">
                    <mat-hint class="msg-error"
                        *ngIf="myForm.controls['pass'].errors?.['required'] && myForm.controls['pass'].touched">Campo
                        Obligatorio.</mat-hint>
                </mat-form-field>
                <button mat-flat-button class="full-width">Aceptar</button>
            </form>

        </mat-card-content>

    </mat-card>

</div>