.demo-table {
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
    background-color: #0F2424;
}

.mat-mdc-header-row {
    background-color: #004F4F;
}

.margin-t {
    margin-top: 20px;
}

.boton-delete {
    color: rgb(236, 58, 58);
}

.boton-delete:hover {
    background-color: rgb(56, 0, 0);
}

.estado-pendiente:hover {  
    background-color: #530301 !important;    
}  

.estado-en-progreso:hover {  
    background-color: #776b03 !important;
}  

.estado-completada:hover {  
    background-color: #59850e !important;
}

.mat-button-toggle {  
    transition: background-color 0.3s ease;  
}  