<!-- Boton Add y Campo de búsqueda -->
<div class="filter" style="display: flex;">
    <button mat-flat-button class="margin-t" (click)="openDialog(null)">
        <mat-icon>add</mat-icon>
        Agregar
    </button>
    <span class="spacer"></span>
    <mat-form-field>
        <mat-label>
            <mat-icon>search</mat-icon>
            Buscar
        </mat-label>
        <input matInput (keyup)="checkFilter($event)" placeholder="Nombre o Estado...">
    </mat-form-field>
</div>

<!-- Tabla Tareas -->
<table mat-table [dataSource]="tareasFiltradas" class="mat-elevation-z8 demo-table">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let tarea">{{tarea.id}}</td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let tarea">{{tarea.nombre}}</td>
    </ng-container>

    <!-- Descripcion Column -->
    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let tarea">{{tarea.descripcion}}</td>
    </ng-container>

    <!-- Estado Column -->
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let tarea">
            <mat-button-toggle-group [(value)]="tarea.estado" (change)="cambiarEstado(tarea.id, $event.value)"
                aria-label="Estado de Tarea">
                <mat-button-toggle *ngFor="let estado of estados" [value]="estado" (click)="$event.stopPropagation()"
                    [ngClass]="{  
                    'estado-pendiente': estado === estadoEnum.pendiente,  
                    'estado-en-progreso': estado === estadoEnum.en_progreso,  
                    'estado-completada': estado === estadoEnum.completada  
                }">
                    {{estado | estado}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let tarea">
            <button mat-button class="boton-delete" (click)="eliminar(tarea.id); $event.stopPropagation();">
                <mat-icon>delete</mat-icon>
                Eliminar
            </button>
        </td>
    </ng-container>

    <!-- Responsable Column -->
    <ng-container matColumnDef="responsable">
        <th mat-header-cell *matHeaderCellDef>Responsable</th>
        <td mat-cell *matCellDef="let tarea">{{encontrarUsuarioPorTarea(tarea)?.name}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="openDialog(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>

</table>