<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">

    <form class="example-form" [formGroup]="myForm">

        <!-- Nombre -->
        <mat-form-field class="example-full-width margin-b">
            <mat-label>Nombre:</mat-label>
            <input type="text" matInput formControlName="name" placeholder="Introduzca el nombre...">
            <mat-error *ngIf="myForm.controls['name'].errors?.['required'] && myForm.controls['name'].touched">
                El Nombre es requerido</mat-error>
        </mat-form-field>

        <!-- User -->
        <mat-form-field class="example-full-width margin-b">
            <mat-label>Email:</mat-label>
            <input type="text" matInput formControlName="email" placeholder="Introduzca el email...">
            <mat-error *ngIf="myForm.controls['email'].errors?.['required'] && myForm.controls['email'].touched">
                Campo requerido</mat-error>
            <mat-error
                *ngIf="myForm.controls['email'].errors?.['email'] && !myForm.controls['email'].errors?.['required']">
                Ingrese un Email válido</mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field class="example-full-width margin-b">
            <mat-label>Password:</mat-label>
            <input type="password" matInput formControlName="password" placeholder="Introduzca el password...">
            <mat-error *ngIf="myForm.controls['password'].errors?.['required'] && myForm.controls['password'].touched">
                El Password es requerido</mat-error>
        </mat-form-field>

        <!-- Role -->
        <mat-form-field class="example-full-width">
            <mat-label>Seleccione el Rol</mat-label>
            <mat-select formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
            </mat-select>
            <mat-error *ngIf="myForm.controls['role'].errors?.['required'] && myForm.controls['role'].touched">
                El Rol es requerido</mat-error>
        </mat-form-field>

    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" *ngIf="!esEditar; else editarTemplate" [disabled]="myForm.invalid"
        (click)="enviar()">Crear</button>
    <ng-template #editarTemplate>
        <button mat-button [mat-dialog-close]="true" [disabled]="myForm.invalid" (click)="enviar()">Editar</button>
    </ng-template>
</mat-dialog-actions>